<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title th:utext="#{pages.titleAdherent}">Fragments</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>

<body>

<nav th:replace="fragments :: navigationAdherent"> </nav>

<div>

	<h1> ESPACE PERSONNEL DE L'ADHERENT </h1>

</div>


<footer th:replace="fragments :: footer"> </footer>

<script th:src="@{/js/vendor/jquery.slim.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
