<!-- DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Mail d'information d'envoi de la réponse</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="http://fonts.googleapis.com/css?family=Roboto"
	rel="stylesheet" type="text/css" />
<!-- use the font -->
<style>
body {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}
</style>
</head>

<body>
	<p>
		Objet: votre reponse Numero <span th:text="${reponse_id}"></span> envoyee le 
		<span
			th:text="${#temporals.format(dateReponse, 'dd-MMMM-yyyy', new java.util.Locale('fr', 'FR'))}"></span>
	</p>

	<p th:text="${'Bonjour ' + destinataire_username}"></p>

	<p>
		Un mail vient d'être envoyé à l'adhérent qui a publié une <span th:text="${enum_trade_type_proposition}"></span> d'échange sous 
		la rubrique " <span th:text="${titre_proposition}"></span>" le 
		<span th:text="${#temporals.format(dateDebutPublication, 'dd-MMMM-yyyy', new java.util.Locale('fr', 'FR'))}"></span>
		(Référence : Proposition N° <span th:text="${proposition_id}"></span> )
	</p>

	<p>
		Il l'informe de votre <span th:text="${enum_trade_type_reponse}"></span> : "<span th:text="${titre_reponse}"></span>". 
	</p>
	<p>
		Selon sa décision, vous recevrez un mail de refus ou un mail de confirmation vous indiquant la marche à suivre pour concrétiser 
		votre échange collaboratif dans les meilleures conditions.
	</p>
	
	<p>
		Nous vous souhaitons d'excellents échanges collaboratifs <br />
	</p>

	<p>La SEL Team</p>


</body>

</html>