<!-- DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Mail d'information d'envoi du refus de l'échange</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="http://fonts.googleapis.com/css?family=Roboto"
	rel="stylesheet" type="text/css" />
<!-- use the font -->
<style>
body {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}
</style>
</head>

<body>
	<p>
		Objet: Refus de l'échange Numero <span th:text="${echange_id}"></span> 
	</p>

	<p th:text="${'Bonjour ' + destinataire_username}"></p>

	<p>
		Nous sommes désolés de vous indiquer que suite à la réalisation de l'échange sous rubrique publié sous le titre "<span th:text="${titre}"></span>" 
		votre contrepartie l'adhérent <span th:text="${recepteur_username}"></span> a refusé de valider la bonne fin de l'échange.
		
		Votre échange est donc enregistré en tant que LITIGE.
		
		Si de votre côté, vous avez déjà validé cet échange la transaction sera réalisée en ce qui vous concerne.
		
		Si vous n'avez pas encore donné votre avis, merci de faire rapidement le nécessaire avant la date d'échéance ; vous risquez sinon de voir votre compte bloqué.

	</p>
	
	<p>
		Nous vous souhaitons d'excellents échanges collaboratifs <br />
	</p>

	<p>La SEL Team</p>


</body>


</html>