<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title th:utext="#{pages.titleAdherents}">Fragments</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>

<body>

<nav th:replace="fragments :: navigationAdherent"> </nav>

<div class="col-md-5 p-lg-2 mx-auto my-5 top-2 text-center bg-light">
	<h3 class="display-4 font-weight-normal" th:utext="#{pages.titleAdherents}">Heading</h3>
	<p class="lead font-weight-normal" th:text="'Liste a jour'"></p>
</div>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    
    <div class="product-device shadow-sm d-none d-md-block">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>eMail</th>
					<th>Statut</th>
					<th>Date adhesion</th>
					<th>Date debut blocage</th>
					<th>Date fin blocage</th>
					<th>Date debut cloture</th>
					<th>Date fin cloture</th>
					<th>Date debut bureau</th>
					<th>Date fin bureau</th>
					<th>Date debut admin</th>
					<th>Date fin admin</th>
                </tr>
            </thead>
            <tbody th:remove="all-but-first">
                <tr th:each="adherent, iStat : ${adherentsPage.content}"
                    th:style="${iStat.odd}? 'font-weight: bold;'"
                    th:alt-title="${iStat.even}? 'even' : 'odd'">
					<td th:text= "${adherent.username}"/>
					<td th:text= "${adherent.email}"/>
					<td th:text= "${adherent.statut.getText()}"/>
					<td th:text= "${adherent.dateAdhesion}"/>
					<td th:text= "${adherent.dateClotureDebut}"/>
					<td th:text= "${adherent.dateClotureFin}"/>
					<td th:text= "${adherent.dateBlocageDebut}"/>
					<td th:text= "${adherent.dateBlocageFin}"/>
					<td th:text= "${adherent.dateBureauDebut}"/>
					<td th:text= "${adherent.dateBureauFin}"/>
					<td th:text= "${adherent.dateAdminDebut}"/>
					<td th:text= "${adherent.dateAdminFin}"/>			
                </tr>               
            </tbody>
            </table>
           <div th:if="${adherentsPage.totalPages > 0}" class="pagination"
                th:each="pageNumber : ${pageNumbers}">
                <a th:href="@{/displayPageAllUsers(size=${adherentsPage.size}, page=${pageNumber})}"
                    th:text="${pageNumber}"
                    th:class="${pageNumber==adherentsPage.number + 1} ? active"></a>
            </div>
        </div>
    </div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>


<footer th:replace="fragments :: footer">

</footer>
<script th:src="@{/js/vendor/jquery.slim.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
