<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title th:utext="#{pages.titleAdherent}">Fragments</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>

<body>

<nav th:replace="fragments :: navigationAdherent"> </nav>

<div class="col-md-5 p-lg-2 mx-auto my-5 top-2 text-center bg-light">
    <h5 class="display-4 font-weight-normal" th:utext="#{pages.titleAdherent}">Heading</h5>
    <tr style="text-align:left"><th>Situation du compte : </th><td th:text= "${adherent.statut.getText()}"/></tr>
</div>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="row">
        <div class="container col-md-5 col-md-offset-1 product-device shadow-sm d-none d-md-block">
        <h4 class="display-4 font-weight-normal">Informations du compte</h4>
            <div class="table-responsive">
                <table class="table table-striped" >
                    <tr style="text-align:left"><th>Pseudo :</th><td th:text= "${adherent.username}"/> </tr>    
                    <tr style="text-align:left"><th>eMail :</th><td th:text= "${adherent.email}"/></tr>  
                    <tr style="text-align:left"><th>eMail :</th><td th:text= "${adherent.email}"/></tr> 
                    <tr style="text-align:left"><th>Statut :</th><td th:text= "${adherent.statut.getText()}"/></tr> 
                    <tr style="text-align:left"><th>Mot de passe :</th><td th:text= "${adherent.password}"/></tr>  
                </table>
            </div>
        </div>    
        <div class="container col-md-5 col-md-offset-1 text-align:left product-device shadow-sm d-none d-md-block">
        <h4 class="display-4 font-weight-normal">Historique du compte</h4>
            <div class="table-responsive">
                <table class="table table-striped">        
                    <tr style="text-align:left"><th>Compte ouvert le :</th><td th:text= "${adherent.dateAdhesion}"/></tr>
                    <tr style="text-align:left"><th>Compte bloqué du :</th><td th:text= "${adherent.dateBlocageDebut}"/><th>au</th><td th:text= "${adherent.dateBlocageFin}"/></tr>
                    <tr style="text-align:left"><th>Compte clôturé entre le :</th></th><td th:text= "${adherent.dateClotureDebut}"/><th>et le </th><td th:text= "${adherent.dateClotureFin}"/></tr>
                    <tr style="text-align:left"><th>Membre du Bureau du :</th><td th:text= "${adherent.dateBureauDebut}"/><th>au</th><td th:text= "${adherent.dateBureauFin}"/></tr>
                    <tr style="text-align:left"><th>Administrateur du </th><td th:text= "${adherent.dateAdminDebut}"/><th>au</th><td th:text= "${adherent.dateAdminFin}"/></tr>
                </table>
            </div>
        </div>
    </div>      
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>


<footer th:replace="fragments :: footer">

</footer>
<script th:src="@{/js/vendor/jquery.slim.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
